body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: coral;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h1 {
  font-size: 4rem;
  /* Large text */
  color: white;
  /* White color */
}

p {
  font-size: 1.8rem;
  /* Subtext size */
  color: white;
  margin-top: 20px;
  padding: 10px;
  /* Base padding */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  p {
    padding: 50px;
    /* More padding for subtext on mobile */
    font-size: 1.5rem;
    /* Slightly smaller font for better fit */
  }
}