/* Ensure full-page background */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  width: 10rem;
  background-color: lightgray;
  text-align: center;
  display: inline-block;
}

nav a {
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

nav a:link {
  color: black;
}

nav a:hover {
  background-color: black;
  color: lightgray;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

/* Center the image (Chat-GPT) */
img {
  display: block; /* Make it a block element */
  margin-left: auto; /* Automatic left margin */
  margin-right: auto; /* Automatic right margin */
}

blockquote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  border: 0px solid black;
  margin: 0;
}

blockquote p {
  margin: 0;
}

p {
  line-height: 1.5;
  text-align: center;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  blockquote {
    font-size: 1.5rem;
    padding: 0rem; /* Adjust padding */
  }

  nav li {
    width: 5rem;
  }
}
