body {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  margin: 0 auto 3rem auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 1rem;
}

nav li {
  background-color: lightgray;
  flex-basis: 30%;
  text-align: center;
}

nav a {
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

nav a:link {
  color: black;
}

nav a:hover {
  background-color: black;
  color: lightgray;
  text-decoration: underline;
}

h2,
h3 {
  text-align: center;
}

.image-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; /* Center content horizontally */
  gap: 2rem;
  margin: 2rem 0;
}

.image-container div img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto;
  border-radius: 10px;
}

blockquote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  border: 0px solid black;
  margin: 0;
}

blockquote p {
  margin: 0;
}

p {
  line-height: 1.5;
  text-align: center;
}

fieldset {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

label {
  display: block;
  margin: 1rem;
}

button {
padding: 0 2rem;
background-color: red;
color: white;
border-radius: 5px;}

/* Media query for smaller devices */
@media (max-width: 768px) {
  blockquote {
    font-size: 1.3rem;
    padding: 0rem; /* Adjust padding */
  }

  nav li {
    width: 5rem;
  }
}
