/* Reset margins, paddings, and set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black; /* Ensures background is black */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Canvas Styling */
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  border: 10px solid white; /* White border on all sides */
}
